.rodapie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 767px) {
    .rodapie {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
}